*{
    margin: 0;
    padding: 0;
    font-family: var(--starwars-font);
    
}

:root{
    --starwars-font: 'Star Wars';
    --shadow-black: black 0px 0px 10px;
    --red-color: rgb(200, 0, 0);
    --blue-color:rgb(134, 134, 255);
}

body{
    max-height: 100vh;
    scroll-behavior: smooth;
    background-image: url(co341S.jpg);
    background-size: cover;
    font-size: medium;
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
}

.signup-page{
    display: grid;
    grid-template-columns: calc(100% - 60%) auto;
    
}

.form-header{
    grid-column: 1/-1;
    color: black;
    text-align: center;
    margin-top: 20px;
    font-weight: 100;
    text-shadow: black 0px 0px 8px;
}
/* Light mode header */
.form-header-light{
    display: none;
    height: 0;
    grid-column: 1/-1;
    color: white;
    text-align: center;
    margin-top: 20px;
    font-weight: 100;
    text-shadow: white 0px 0px 8px;
}

.form-container{
    display: grid;
    justify-content: center;
    grid-template-columns: 220px 220px;
    background: linear-gradient(to right,transparent , var(--red-color) 20%) ;
    color: white;
    height: 100vh;
    width: 100%;
    margin-right:0;
}
.input-container{
    display: flex;
    flex-direction: column;
    width: 200px;
    margin: auto;
    white-space: nowrap;

}

.input-container label{
    margin-bottom: 5px;
    font-size: small;
    text-shadow: var(--shadow-black);
}

.submit-button {
    grid-column: 1/-1;
    padding: 10px;
    border: 0px;
    border-radius: 5px;
    background-color: black;
    color: white;
    font-weight: 100;
    font-size: small;
    cursor: pointer;
    width: 200px;
    margin: auto ;
    box-shadow: var(--shadow-black);
}
.image-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: auto ;
    background-size: cover;
}

.image-header{
    display: block;
    font-family: var(--starwars-font);
    font-size: 40px;
    color: var(--red-color);
    text-align: center;
    margin-bottom: 20px;
}

input{
    padding: 10px;
    border: 0px;
    height: 30px;
    border-radius: 5px;
    margin-bottom: 10px;
    color: white;
    background:black;
    text-shadow: var(--shadow-black);
    box-shadow: var(--shadow-black);
}

input:focus{
    outline: none;
}

/* Light mode */

.light-mode{
    display: flex;
    grid-column: 1/-1;
    flex-direction: row;
    justify-content: center;
    text-shadow: white 0px 0px 8px;
}

#light{
    color: white;
    display: none;
}

#dark{
    height: auto;
    display: block;
}

.form-container-light{
    font-size: 20px;
}

.form-container-dark{
    display: none;
    font-size: 20px;
}
/* Light mode end */

/* switch button code */
.switch {
    position: relative;
    margin: 0 auto;
    grid-column: 1/-1;
    width: 30px;
    height: 17px;
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }

.slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
